

<%- include partials/header %>
<%- include partials/navbar %>

<div class="container text-center" style='margin-top:5em' >
<div class="col-lg-20">

	<div class="jumbotron text-center">
		<h1></span>Flower Shop</h1>

		<p>Login or Register</p>

		<a href="/login" class="btn btn-default">Login</a>
		<a href="/signup" class="btn btn-default">Signup</a>
	</div>

</div>

<%- include partials/footer %>
