

<%- include partials/header %>
<%- include partials/navbar %>


<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1>Login</h1><hr>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div class="form-group">
			<input type="text" class="form-control" name="email" placeholder="Name"><br>
			<input type="password" class="form-control" name="password" placeholder="Password">
		</div>

		<div class="text-right">
			<button type="submit" class="btn btn-default text btn-md">Login</button>
		</div>
	</form>

	<br><hr>

	<p>Need an account? <a href="/signup">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>

<%- include partials/footer %>
