
<footer class="footer text-center">
  <div class="container">
    <span class="text-center"><small>Alan Moody - BYU CS 462 - Winter 2017</small></span>
  </div>
</footer>

<script>
function removeQuotes(s) {
  return s.replace(/['"]+/g, '');
}
</script>
</body>
</html>
